<!DOCTYPE html>
<html lang="en">
<title> Raspberry Pi Web Server</title>

<body>

  <h1 style="text-align: center;">Lab9 6213125</h1>
  <h2 style="text-align: center;" id="timeupdate"></h2>
  <p style="text-align: center;"><button type="button" id="ButtonOnclick">Change</button>
    <strong id="type">value:&nbsp;</strong>
    <font color="red"><strong id="value"><br /></strong></font>
    </h2>



    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
      $(
        /* Control LED function*/
        function () {
          $('#ButtonOnclick').click(function () {
            $.getJSON('/changeState', function (data) {
              // $("#status").text(data.status);
            });
          })
        }
      );

      $(
        function updateClock() {
          $.getJSON('/updateTime', function (data) {
            $("#type").text(data.type);
            $("#value").text(data.value);
            $("#timeupdate").text(data.timeupdate);
            setTimeout(function () {
              updateClock();
            }, 1000);
          });
        }
      );
    </script>

</body>

</html>